streamlit
pandas
pymupdf
requests
pronto
rdflib
curies
python-dotenv
openai-whisper
torch
# LangChain + LangGraph + Groq
langchain
langchain-core
langchain-groq
langgraph

# Optional but recommended for stability
tqdm
